[submodule "narps/ds001734"]
	path = narps/ds001734
	url = https://github.com/OpenNeuroDatasets/ds001734
	datalad-id = ca05bc10-29a0-11e9-9a7b-0242ac13000d
	datalad-url = https://github.com/OpenNeuroDatasets/ds001734
[submodule "narps/pybids"]
	path = narps/pybids
	url = https://github.com/bids-standard/pybids
	datalad-url = https://github.com/bids-standard/pybids
[submodule "ds005/ds000005"]
	path = ds005/ds000005
	url = https://github.com/OpenNeuroDatasets/ds000005
	datalad-id = b2c7f086-8704-11e8-9916-0242ac120015
	datalad-url = https://github.com/OpenNeuroDatasets/ds000005
[submodule "ds005/pybids"]
	path = ds005/pybids
	url = https://github.com/bids-standard/pybids.git
	datalad-url = https://github.com/bids-standard/pybids.git
[submodule "ds001/ds000001"]
	path = ds001/ds000001
	url = https://github.com/OpenNeuroDatasets/ds000001.git
	datalad-id = 7cce28be-8703-11e8-bf98-0242ac120023
	datalad-url = https://github.com/OpenNeuroDatasets/ds000001.git
