[submodule "narps/ds001734"]
	path = narps/ds001734
	url = https://github.com/OpenNeuroDatasets/ds001734
	datalad-id = ca05bc10-29a0-11e9-9a7b-0242ac13000d
	datalad-url = https://github.com/OpenNeuroDatasets/ds001734
[submodule "narps/pybids"]
	path = narps/pybids
	url = https://github.com/bids-standard/pybids
