-e git+https://www.github.com/bids-standard/pybids.git@c411a86#egg=pybids
nilearn
pandas
numpy
datalad
matplotlib
graphviz
notebook
jupytext
-e git+https://github.com/bids-standard/stats-models.git#egg=bsmschema&subdirectory=bsmschema
jupyter-book
-e git+https://www.github.com/bids-standard/pybids.git@master#egg=pybids[plotting]