[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
jupytext = "*"
pandas = "*"
pybids = {version = ">=0.15.1", extras = ["plotting"]}
nilearn = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
