[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
jupytext = "*"
pandas = "*"
pybids = {ref = "statsmodels", git = "https://github.com/bids-standard/pybids.git"}

[dev-packages]

[requires]
python_version = "3.8"
